[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
keras = "*"
tensorflow = "*"
sklearn = "*"
opencv-python = "*"
Pillow = "*"
tqdm = "*"
requests = "*"